<%include ../partials/menu %>
<div class="col-lg-9">
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-title">
          <h2>Danh sách sản phẩm</h2>
         
          <p> ea nobis quae vero voluptatibus.</p>         
        </div>
        <div class="aa-latest-properties-content">
          <div class="row">
            <% property.forEach(function(data){ %>

           
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="/product/<%= data.id %>" class="aa-properties-item-img">
                  <img style src="/uploads/<%= data.img[0] %>" alt="img">
                </a>
                <div class="aa-tag for-sale">
                  
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span><%= data.name %></span>
                   
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="#"><%= data.title %></a></h3>
                    
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                     <%= data.price %>
                    </span>
                    <a href="/product/edit/<%= data._id %>" class="aa-secondary-btn">Sửa</a>
                  </div>
                </div>
              </article>
            </div>
          <% }) %>
        </div>
  
      </div>
    </section>
  </div>
  
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="/js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>   
  <!-- slick slider -->
     <input type="hidden" id="longLatCurrenttask" value="RE-LISTING">
  <script type="text/javascript" src="/theme/js/navigator.js"></script>
  <script type="text/javascript" src="/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="/js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="/js/custom.js"></script> 



  </body>
</html>