<% include ../theme/header %>

<div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
                <span class="divider">/</span>
            </li>
            <li class="active"> Shopping Cart
            </li>
        </ul>       
          <center>   <div  style=" margin:30px auto"><span style="color:lightcoral; font-size: 24px">Chi tiết sản phẩm </span></div></center>
       
            
            <div class="container_fullwidth">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="products-details">
                        <div class="preview_image">
                          <div class="preview-small">
                            <img id="zoom_03" src="/uploads/<%= data.img[0] %>" data-zoom-image="/uploads/<%= data.img[0] %>" alt="">
                          </div>
                          <div class="thum-image">
                            <ul id="gallery_01" class="prev-thum">
                              <li>
                                <a href="#" data-image="/uploads/<%= data.img[0] %>" data-zoom-image="/uploads/<%= data.img[0] %>">
                                  <img src="/uploads/<%= data.img[0] %>" alt="">
                                </a>
                              </li>
              
                              <li>
                                <a href="#" data-image="/uploads/<%= data.img[1] %>" data-zoom-image="/uploads/<%= data.img[1] %>">
                                  <img src="/uploads/<%= data.img[1] %>" alt="">
                                </a>
                              </li>
                              <li>
                                <a href="#" data-image="/uploads/<%= data.img[0] %>" data-zoom-image="/uploads/<%= data.img[0] %>">
                                  <img src="/uploads/<%= data.img[0] %>" alt="">
                                </a>
                              </li>
                              
                            </ul>
                            <a class="control-left" id="thum-prev" href="javascript:void(0);">
                              <i class="fa fa-chevron-left">
                              </i>
                            </a>
                            <a class="control-right" id="thum-next" href="javascript:void(0);">
                              <i class="fa fa-chevron-right">
                              </i>
                            </a>
                          </div>
                        </div>
                        <div class="products-description">
                          <h5 class="name">
                            <%= data.name %>
                          </h5>                  
                           Số lượng sản phẩm 
                            <span class=" light-red">
                              <%= data.num %>
                            </span>
                          </p>
                          <p>
                            <%= data.dis %>
                          </p>
                          <hr class="border">
                          <div class="price">
                            Giá : 
                            <span class="new_price">
                              <%= data.price %>
                              <sup>
                                đ
                              </sup>
                            </span>
                            
                          </div>
                          <hr class="border">
                          <div class="wided">
                           
                            <div class="button_group">
                              <a class="button" href="/product/addCart/<%= data._id%>">
                                Add To Cart
                              </a>
                             
                            </div>
                          </div>
                          <div class="clearfix">
                          </div>
                          <hr class="border">
                          <img src="images/share.png" alt="" class="pull-right">
                        </div>
                      </div>
                      <div class="clearfix">
                      </div>
                      <div class="tab-box">
                        <div id="tabnav">
                          <ul>
                            <li>
                              <a href="#Descraption">
                                DESCRIPTION
                              </a>
                            </li>
                            <li>
                              <a href="#Reviews">
                                REVIEW
                              </a>
                            </li>
                          </ul>
                      </div>  
                      <div id="Descraption">
                      <div class="cart-info">
                        <table class="table table-striped table-bordered">
                          <tr>
                            <td class="name">Bìa sách</td>
                            <td class="name"><img src="/uploads/<%= data.img[0] %>" height="50" width="50"></td>
                          </tr>
                          <tr>
                            <td class="name">Công ty phát hành</td>
                            <td class="name"><a href="/type/cty/<%= data.cty %>"> <%= data.product %></a></td>
                            </tr>
                             <tr>
                            <td class="name">Tác giả</td>
                            <td class="name"><a href="/type/tacgia/<%= data.title %>"><%= data.author %></a></td>
                            </tr>
                             <tr>
                            <td class="name">Kích thước</td>
                            <td class="name"><%= data.size %></td>
                            </tr>
                             <tr>
                            <td class="name">Thể loại</td>
                            <td class="name"><%= data.type %></td>
                            </tr>
                             <tr>
                            <td class="name">Số trang</td>
                            <td class="name"><%= data.page %></td>
                            </tr>
                             <tr>
                            <td class="name">Cân nặng</td>
                            <td class="name"> <%= data.weight %> gr</td>
                            </tr>
                        </table>
                    </div>
                   </div> 

                   <div id="Reviews">
                    <div class=" container cart-info">
                        <img src="/uploads/<%= data.img[1] %>">
                  </div>
                 </div> 
                  </div>             
                </div>
              </div> 
<% include ../theme/products.ejs %>       
<% include ../theme/footer.ejs %>